@import "variables";

$height-content-half: 249px;
#features {
  .content {
    top: calc(50vh - #{$height-content-half});

    @media #{$media-screen-min-height} {
      top: calc(#{$screen-min-height / 2} - #{$height-content-half});
    }
  }

  h1 {
    padding-top: 0;
  }

  .features {
    width: 100%;

    .feature {
      .icon {
        width: 200px;
        height: 250px;
        border: solid 1px black;
        margin-left: auto;
        margin-right: auto;
      }

      float: left;
      text-align: center;
      width: 33%;
    }
  }
}