@import 'variables';

$height-content-half: 202px;
#join-today {
  color: $color-white-light;
  text-align: center;

  .content {
    top: calc(50vh - #{height-content-half});

    @media #{$media-screen-min-height} {
      top: calc(#{$screen-min-height / 2} - #{$height-content-half});
    }
  }

  h1,
  .text {
    padding-top: 0;
    padding-bottom: 85px;
  }

  p {
    max-width: 1024px;

    @media #{$media-screen-md} {
      width: auto;
    }
  }

  .form {
    padding: 0 20px;
    text-align: center;
    input {
      float: left;
      font-size: 18px;
      width: calc(100% - 240px);
      padding: 35px 45px;
      color: $color-black;
    }

    button {
      float: right;
      padding: 28px 50px;
    }

    @media #{$media-screen-md} {
      button,
      input {
        width: 100%;
        float: none;
        margin-bottom: 20px;
      }
    }
  }
}
