//
// Typography
//

$font-size-root:         16px;
$font-size-base:         1rem;
$font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
$line-height-base:       1.5;

//
// Breakpoints
//

$md-viewport: 512px;
$lg-viewport: 850px;

//
// Spacing
//

$spacer: 1rem;

$screen-min-height: 900px;
$media-screen-min-height: "screen and (max-height: $screen-min-height), screen and (max-width: $lg-viewport)";
$media-screen-lg: "screen and (min-width: $lg-viewport)";
$media-screen-md: "screen and (max-width: $lg-viewport)";
$media-screen-sm: "screen and (max-width: $md-viewport)";

$color-black: #000000;
$color-blue-dark: #262261;
$color-blue-light: #312f67;
$color-red-dark: #E53543;
$color-red-light: #ff3c4b;
$color-white-light: #ffffff;
$color-white-dark: #f4f4f7;
